:root{
    --gap: 2rem;
    --col: 3;
    --row-height: 400px;
    --color0: white; 
    --color1: #A9DAB6ff;
    --color2: #8AD7C6ff;
    --color3: #53D4DDff;
    --color4: #EEC52Dff;
    --color5: #FAA11Cff;
    --color6: #F7820Dff;
    --color7: #F06612ff;
    --color8: black; 
    --gradient1: linear-gradient(to right, #EEC52Dff 1%, #F09819 75%);
    --gradient2: linear-gradient(to right,#EEC52Dff 35%, #F09819 75%);
    --back-gradient: linear-gradient(to bottom, var(--color1) 25%, var(--color2) 50%, var(--color3) 75%);
    --font1: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

body{
    margin:0;
    background-image: var(--back-gradient);
    



}

h1{
    font-size: 4rem;
    text-align: center;
    font-family: var(--font1);
    color: white;
    -webkit-text-stroke: 3px var(--color8);
 


}

h1:hover{
    font-size: 4rem;
    text-align: center;
    font-family: var(--font1);
    color: var(--color8);
    -webkit-text-stroke: 3px var(--color0);
 


}


.centro{
  display: flex;
  align-items: center;
  justify-content: center;




}

.image-grid{
    
    box-sizing: border-box;
    padding: var(--gap);

    display: grid;
    max-width: 900px;


    grid-template-columns: repeat(var(--col), 1fr);
    grid-auto-rows:var(--row-height);
    gap: var(--gap);



}

.image-grid > a > img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-size: contain;
    transition: 0.3s ease-in-out;


}

.image-grid > a > img:hover{
    width: 102%;
    height: 102%;
    border-radius: 20px;
    background-size: contain;
    border: 5px var(--color7) solid;
    transition: 0.3s ease-in-out;

}


.dua {
    grid-column-start: 2;
    grid-column-end: 4;


}

.sam {
    grid-column-start: 3;
    grid-column-end: 6;
}

.nas {
    grid-column-start: 1;
    grid-column-end: 2;



}

.ros{
    grid-column-start: 1;
    grid-column-end: 3;


}

.oli{
    grid-column-start: 4;
    grid-column-end: 6;



}

.doja { 
    grid-column-start: 4;
    grid-column-end: 6;
}

ul{
    font-size: 150%;
    text-align: center;
    list-style-type: none;
    padding: 10px;
    


}





a:hover{

    color: var(--color9);
}

a:active{
    color: var(--color8);



}

ul.nav{
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;

   



}

ul.nav li{

    display: inline;
      
    
}

ul.nav a{
   
   
   background-image: var(--gradient1);
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 100% auto;
   color: var(--color8);            
   border-radius: 4px;
   padding: 10px;
   text-decoration: none;
   font-family: var(--font1);
   
   
    



}

ul.nav{
    list-style: none;
    padding-left: 0;
    padding-top: 6px;
    padding-bottom: 5px;

    



}

a.but:hover{
    
    color:var(--color8);
    transition: 0.2s ease;
    border: 2px solid var(--color8);
    -webkit-text-stroke: var(--color3) 0.2px;

   



}

hr{
    border: var(--color4) solid 5px;
    border-radius: 20px;
   
    


}


footer{
    padding: 1rem;
    text-align: right;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0.5px;
    color: var(--color0);
}

@media screen and (max-width:900px) {
    .image-grid{
        grid-template-columns: repeat(2, 1fr);


    }

    .centro{
        display: flex;
        justify-content: center;
        align-items: center;

       
    }

    ul.nav li{

        display: block;
        line-height: 70px;
       
    }

    ul.nav{
        margin-left: 0;
        list-style: none;
        padding-left: 0;
        padding-top: 6px;
        padding-bottom: 5px;
        border-bottom: none;}
        
    
    
    

    
    
}


@media screen and (max-width:500px) {
    
    .centro{
        display: flex;
        justify-content: center;
        align-items: center;

    }
    
    .image-grid{
        grid-template-columns: repeat(1, 1fr);


    }

    ul.nav li{

        display: block;
        

        
    }


    ul.nav{
        margin-left: 0;
        list-style: none;
        padding-left: 0;
        padding-bottom: 5px;
        border-bottom: none;
    }

  
        
    
    
    

}